body {
  background-color: rgb(14, 12, 12);
  overflow: hidden;
}
.demo-wrapper {
  height: 100vh;
  width: 930px;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.square {
  opacity: 0;
  margin: 30px;
  width: 1px;
  height: 1px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0);
  &::after {
    display: block;
    content: '';
    width: 40px;
    height: 10px;

    background-color: #fff;
    color: #fff;
    border-radius: 10%;
    transform: skew(31deg, 42deg);
  }
}
