body {
  background-color: rgb(14, 12, 12);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // perspective: 20px;
  // z-index: 100px;
  // transform: rotate(180deg), translate(-5000px, 10000px);
}
.square {
  position: absolute;
  top: 60%;
  left: 50%;
  opacity: 0;
  // margin: 30px;
  width: 1px;
  height: 1px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0);
  &::after {
    position: fixed;
    display: block;
    content: '';
    width: 80px;
    height: 5px;

    background-color: #fff;
    color: #fff;
    border-radius: 10%;
    transform: skew(31deg, 42deg);
  }
}
